/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.article__title--h1 {
  display: none;
}
.article {
  width: 500px;
  display: block;
  margin: 0 auto;
  text-align: right;
}
.article__img {
    width: 100%;
}
.article__link {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
  .article { 
    text-align: center;
  }
}
.article--centered {
  text-align: left;
  margin: 0 auto 0;
}
.article__input,
.list__item-label,
.list__item-text {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
/* .article__wrapper {
  display: flex;
} */

.list {
  margin: 0;
  padding: 0px;
}
.list__item,
.article__title {
  list-style: none;
  margin: 0;
}
/* оставлен селектор тегов, т.к.это сброс дефолтных стилей, в таком случае селектор тегов допустим*/
input,
button {
  outline: none;
}
.btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.btn:hover {
  color: #3a3a3a;
}
/* Heading */
.article__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.article__input,
.list__item-text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.article__input:focus,
.list__item-text:focus {
  color: #333;
}

/* New Task */
/* .article__title--new-task {
  display: block;
  margin: 0 0 20px;
} */
.list__item-new-task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;

  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.list__item-new-task:focus {
  color: #333;
}

/* Task list */
.list__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list__item > * {
  vertical-align: middle;
}

.list__item-checkbox {
  margin: 0 10px;
}
.list__item-label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.list__item-text {
  width: 226px;
}
.list__item-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.list__item-img:hover {
  transform: rotateZ(0);
}

/* Completed */
.list--completed .list__item-label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.list .list__item-text {
  display: none;
}

.list__item--edit-mode .list__item-text {
  display: inline-block;
  width: 224px;
}

.list__item--edit-mode .list__item-label {
  display: none;
}